.lightbox-modal {
  width: 100%;
  max-width: 1000px;
  border-radius: 25px;
  margin: auto;
  color: black;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;

  &__image {
    float: left;

  }
  &__text {
    padding-left: 20px;
    float: left;  
    strong {
    font-weight: 700;
  }
  }
  &:link {
    text-decoration: none;
  }

}

